@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");

/* Body */

body {
  font-family: "Inter", sans-serif;
}

/* Navigation */

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 500;
  color: #6cbe71;
}

.navbar-light .navbar-nav .nav-item .btn {
  color: white;
  background-color: #fba319;
}

.navbar-light .navbar-nav .nav-item .btn:hover {
  background-color: #e28d03;
}

.navbar-light .navbar-nav .nav-item .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(252, 166, 29, 0.5);
}

.navbar-light .btn-group .btn,
.navbar-light .navbar-nav .nav-item .btn-group .btn {
  color: #929292;
  background-color: white;
  border-color: #cecece;
}

.navbar-light .btn-group .btn:hover,
.navbar-light .navbar-nav .nav-item .btn-group .btn:hover {
  background-color: #f2f2f2;
}

.navbar-light .btn-group .btn:focus,
.navbar-light .navbar-nav .nav-item .btn-group .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(230, 230, 230, 0.5);
}

.navbar-light .btn-group .dropdown-menu .dropdown-item.active,
.navbar-light .navbar-nav .nav-item .btn-group .dropdown-menu .dropdown-item.active {
  background-color: #fba319;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(230, 230, 230, 0.5);
}

/* Banner */

.banner-image .content h1 {
  font-family: "DM Serif Text", serif;
  font-size: 58px;
}

.banner-image .content p {
  font-weight: 600;
  font-size: 25px;
}

.banner-image .content .btn {
  color: white;
  background-color: #fba319;
}

.banner-image .content .btn:hover {
  background-color: #e28d03;
}

.banner-image .content .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(252, 166, 29, 0.5);
}

/* All Section Element */

section .section-label {
  font-family: "DM Serif Text", serif;
  font-size: 50px;
}

section .section-view-all.btn {
  color: #fba319;
}

section .section-view-all.btn:hover {
  color: #e28d03;
}

section .section-view-all.btn:focus {
  box-shadow: 0 0 0 0.25rem white;
}

.highlight {
  color: #fba319;
}

/* Custom Button List */

.btn-list {
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.btn-list .btn {
  color: black;
  border-color: #d7d7d7;
}

.btn-list .btn:hover {
  background-color: #d7d7d7;
}

.btn-list .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 217, 217, 0.5);
}

.btn-list .btn.active {
  color: white;
  background-color: #5aa85c;
}

.btn-list .btn.active:hover {
  background-color: #4f9652;
}

.btn-list .btn.active:focus {
  box-shadow: 0 0 0 0.25rem rgba(105, 176, 108, 0.5);
}

/* Project Section */

.project .project-box h3 {
  font-family: "DM Serif Text", serif;
  font-size: 30px;
}

/* Success Stories Section */

.success-stories .success-stories-box p {
  font-size: 20px;
}

.success-stories .success-stories-box .btn {
  color: white;
  background-color: #fba319;
}

.success-stories .success-stories-box .btn:hover {
  background-color: #e28d03;
}

.success-stories .success-stories-box .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(252, 166, 29, 0.5);
}

/* Education Section */

.education .education-box .story {
  font-size: 20px;
}

.education .education-box .date {
  color: #575757;
}

/* Enterpreneur Section */

.enterpreneur .enterpreneur-box .name {
  font-size: 24px;
}

/* About Us Section */

.about-us {
  margin: 75px 0 50px 0;
}

.about-us .about-us-box1 p {
  font-family: "DM Serif Text", serif;
  font-size: 20px;
}

.about-us .about-us-box2 p {
  font-size: 20px;
}

.about-us .about-us-box2 h3 {
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-size: 27px;
}

.stats {
  margin: 100px 0 50px 0;
}

.stats .stat-info {
  font-family: "DM Serif Text", serif;
}

.stats .stat-info .stat-value {
  font-size: 35px;
}

.stats .stat-info .stat-title {
  font-size: 18px;
}

/* Write Story Section */

@media screen and (min-width: 1200px) {
  .write-story {
    padding: 0 250px;
  }
}

.write-story form label {
  font-size: 18px;
}

.write-story .form-control {
  border-color: #dadada;
  padding: 20px;
}

.write-story .form-control:focus {
  border-color: #fba319;
  box-shadow: 0 0 0 0.25rem rgba(252, 166, 29, 0.5);
}

.write-story .form-control::placeholder {
  color: #929292;
}

.write-story .menu-btn .form-select {
  border-color: transparent;
  background-color: transparent;
}

.write-story .menu-btn .form-select:focus {
  border-color: #fba319;
  box-shadow: 0 0 0 0.25rem rgba(252, 166, 29, 0.5);
}

.write-story .menu-btn .form-control {
  border-color: transparent;
  background-color: transparent;
  padding: 8px 0;
}

.write-story .menu-btn .form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.write-story .menu-btn .btn.menu-btn-item {
  color: black;
  background-color: transparent;
}

.write-story .menu-btn .btn.menu-btn-item:hover {
  background-color: #e6e6e6;
}

.write-story .select-location .form-select {
  border-color: #dadada;
  padding: 20px;
  color: #929292;
}

.write-story .select-location .form-select:focus {
  border-color: #fba319;
  box-shadow: 0 0 0 0.25rem rgba(252, 166, 29, 0.5);
}

.write-story .select-location .form-select option {
  color: #fba319;
}

.write-story .btn {
  color: white;
  background-color: #fba319;
}

.write-story .btn:hover {
  background-color: #e28d03;
}

.write-story .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(252, 166, 29, 0.5);
}

/* Dashboard Section */

/* User Stats Section */

.user-stats .user-stats-box .total-story {
  color: #3a251f;
  background-color: #ffdcd1;
  border-radius: 10px;
  height: 240px;
}

.user-stats .user-stats-box .total-view {
  color: #064d63;
  background-color: #d1f4ff;
  border-radius: 10px;
  height: 240px;
}

/* @media (min-width: 992px) {
  .user-stats {
    margin-left: 270px;
  }
} */

/* Footer */

footer {
  background-color: #182119;
  margin-top: 100px;
}

footer .copyright {
  color: #9e9e9e;
  background-color: #0e160f;
}
